<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="student" class="org.genspark.xml.Student">
        <constructor-arg index="0" value="1234"/>
        <constructor-arg index="1" value="Josh"/>
        <constructor-arg index="2">
            <list>
                <value>1112223333</value>
                <value>4445556666</value>
                <value>7778889999</value>
            </list>
        </constructor-arg>
        <constructor-arg index="3" ref="address"/>
    </bean>
    <bean id="address" class="org.genspark.xml.Address">
        <constructor-arg index="0" value="New York City"/>
        <constructor-arg index="1" value="New York"/>
        <constructor-arg index="2" value="USA"/>
        <constructor-arg index="3" value="12345"/>
    </bean>

</beans>